/Oraclev2_relaxed.ecore
/Oraclev2_augment_pre.ecore
/Oraclev2_augment_post.ecore
/Oraclev2_augmented.ecore
/Oracle2_relaxed.ecore
/Oracle2_inter_relaxed.ecore
/Oracle2_inter_augment_pre.ecore
/Oracle2_inter_augment_post.ecore
/Oracle2_augmented.ecore
/OracleV2_relaxed.ecore
/OracleV2_augment_pre.ecore
/OracleV2_augment_post.ecore
/OracleV2_augmented.ecore
