/OracleV3_relaxed.ecore
/OracleV3_augment_pre.ecore
/OracleV3_augment_post.ecore
/OracleV3_augmented.ecore
/OracleV2_relaxed.ecore
/OracleV2_augment_pre.ecore
/OracleV2_augment_post.ecore
/OracleV2_augmented.ecore
